body {
    box-sizing: border-box;
    background-color: #C4DFDF;
    font-family: 'Crete Round', serif;
}

h1 {
    text-align: center;
    color: #643843;
}

#main-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 25px;
}

#sketch-container {
    height: 600px;
    width: 600px;

    /* Align the .tile-row vertically */
    display: flex;    
    flex-direction: column;

    background-color: #E3F4F4;
    border: 1px solid #4E3636;
    border-radius:5px;
}

.tile-row {
    /* Now each of the tile-row container will take equal space in the column */
    flex: 1;

    /* This will cause the tiles to align horizontally */
    display: flex;
}

.tile {
    /* tiles will now take equal space horizontally */
    flex: 1;

    border: 1px solid #4E3636;
}

.tile:hover {
    border: 1px solid #B799FF;
    box-shadow: 5px 5px 10px 1px grey;

}

.option {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 5px;
}

h1,
label {
    letter-spacing: 1px;
}

label {
    font-size: 1.3rem;
}

input[type="range"] {
    width: 500px;
}