html {
    box-sizing: border-box;
}

*, *::before, *::after {
    box-sizing: inherit;
}

body {
    margin: 0;
    background: rgb(65, 65, 131);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

main {
    border: solid 3px black;
    max-width: 960px;
    display: flex;
    flex-direction: column;
    margin: 25px auto;
    padding: 0;
    background-color: white;
}

.container {
    display: flex;
}

.sub-container:hover {
    background: black;
    cursor: pointer;
    height: auto;
}

/* .container-1 {
    background: red;
}

.container-2 {
    background: blue;
}

.container-3 {
    background: black;
}

.container-4 {
    background: white;
} */

.sub-container {
    flex: 1;
    border: solid 1px black;
}

.color {
    background: black;
}

button {
    font-size: 1.5rem;
    background-color: white;
    text-transform: uppercase;
    border-radius: 10px;
    padding: 10px;
}

/* .message {
    width: 500px;
    height: 300px;
    margin-top: 15%;
    background: white;

    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    font-size: 1.2rem;

    border-radius: 15px;
    border: solid 2px black;
}

.message > * {
    padding: 10px;
    margin-top: 15px;
}

input[type=number]{
    font-size: 1.3rem;
    text-align: center;
    width: 100px;
} */